html{
    height:2000px;
}

body {
    background-color: #FFFFFF;
}

.navbar {
	top:0;
	left:0;
	width:100%;
	height:43px;
	background-color:black;
	opacity: 0.52;
}
.table .progress { 
    margin-bottom: 0px; 
}