<div class="container-fluid">

	<div class="row">
		<div class="col-md-6">
			<h3>Maandag</h3>
			<table class="table">
				<tr>
					<th>Tijd</th><th>Lokaal</th><th>Docent</th>
				</tr>
				<tr ng-repeat="lesson in days[1]" ng-class="{
				warning: lesson.modified,
				danger: lesson.cancelled
				}">
					<td>{{ lesson.start * 1000 | date:'HH.mm' }}</td>
					<td>{{ lesson.locations.join(', ').toUpperCase() }}</td>
					<td>{{ lesson.teachers.join(', ') }}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h3>Dinsdag</h3>
			<table class="table">
				<tr>
					<th>Tijd</th><th>Lokaal</th><th>Docent</th>
				</tr>
				<tr ng-repeat="lesson in days[2]" ng-class="{
				warning: lesson.modified,
				danger: lesson.cancelled
				}">
					<td>{{ lesson.start * 1000 | date:'HH.mm' }}</td>
					<td>{{ lesson.locations.join(', ').toUpperCase() }}</td>
					<td>{{ lesson.teachers.join(', ') }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Woensdag</h3>
			<table class="table">
				<tr>
					<th>Tijd</th><th>Lokaal</th><th>Docent</th>
				</tr>
				<tr ng-repeat="lesson in days[3]" ng-class="{
				warning: lesson.modified,
				danger: lesson.cancelled
				}">
					<td>{{ lesson.start * 1000 | date:'HH.mm' }}</td>
					<td>{{ lesson.locations.join(', ').toUpperCase() }}</td>
					<td>{{ lesson.teachers.join(', ') }}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h3>Donderdag</h3>
			<table class="table">
				<tr>
					<th>Tijd</th><th>Lokaal</th><th>Docent</th>
				</tr>
				<tr ng-repeat="lesson in days[4]" ng-class="{
				warning: lesson.modified,
				danger: lesson.cancelled
				}">
					<td>{{ lesson.start * 1000 | date:'HH.mm' }}</td>
					<td>{{ lesson.locations.join(', ').toUpperCase() }}</td>
					<td>{{ lesson.teachers.join(', ') }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Vrijdag</h3>
			<table class="table">
				<tr>
					<th>Tijd</th><th>Lokaal</th><th>Docent</th>
				</tr>
				<tr ng-repeat="lesson in days[5]" ng-class="{
				warning: lesson.modified,
				danger: lesson.cancelled
				}">
					<td>{{ lesson.start * 1000 | date:'HH.mm' }}</td>
					<td>{{ lesson.locations.join(', ').toUpperCase() }}</td>
					<td>{{ lesson.teachers.join(', ') }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>